@charset "UTF-8";

/* 
  reset.css
  - 이 파일은 여러 웹 브라우저 환경에서 동일한 스타일링을 하기 위해 웹 브라우저에서 기본적으로 내려주는 스타일링(User Agent StyleSheet)를 초기화하기 위한 목적으로 생성되었습니다.
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*ul ol 기호나 숫자표기를 제거해줍니다.*/
  list-style: none;
}

/*이미지 파일을 w,h 100%지정하고 비율은 사이즈에 따라 1:1비율을 설정합니다.*/
img {
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
}
/*모든 a태그 기본속성인 기본적인 text 밑줄을 제거합니다.
하지만 마우스 오버할때만 a태그에 text 밑줄을 생성합니다.
폰트 기본색상은 블랙으로 지정합니다.
*/
a {
  text-decoration: none;
  color: black;
  &:hover {
    text-decoration: underline;
    color: black;
  }
}
