@charset "UTF-8";

/* 헤더 영역 컨테이너 */
.header-wrap-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 900px;
  height: 60px;
  margin: 0 auto;
}
/* 로고 컨테이너 */
.main-logo {
  width: 130px;
  height: 50px;
}
/* 네브리스트 컨테이너 */
.nav-list-inner {
  display: flex;
  gap: 20px;
  font-size: 14px;
  font-weight: 800;
}
/* 최상단 헤더 오른쪽 리스트아이템 메뉴 컨테이너 */
.header-items-right-inner {
  display: flex;
  gap: 10px;
}
/* 로그인버튼 */
.header-login-btn {
  background-color: #18abeb;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  height: 25px;
}
/* 헤더에 오른쪽 리스트들 */
.header-list-container-right {
  display: flex;
  align-items: center;
  gap: 10px;
}
/* 로그인을 제외한 리스트안에있는 li아이템 */
.header-list-item {
  font-size: 12px;
  color: #555;
}
/*돋보기 찾기 이미지 버튼*/
.find-btn {
  border: none;
  background-color: white;
}
/* 스와이퍼 사이즈 */
.swiper {
  width: 100%;
  height: 400px;
}
/* 스와이퍼 페이지네이션 위치 */
.swiper-pagination {
  margin-bottom: 25px;
}
/* 스와이퍼 컨텐트 사이즈 */
.swiper-slide {
  background-image: url(../../images/bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}
/* 스와이퍼 바로밑 메뉴 영역입니다 */
.main-menu-area {
  z-index: 100;
  width: 100%;
  position: absolute;
  top: 438px;
}
/* 리스트를 감싸는 스타일 */
.main-menu-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px auto;
  border: 1px solid white;
  box-shadow: 1px 1px 1px 1px;
  background-color: white;
  gap: 10px;
  width: 800px;
  height: 40px;
}
/* a태그 사이사이 들어가는 투명 bar  */
.bar {
  height: 15px;
  border: 1px solid #d7d7d7;
}
/* 스와이퍼 내용 섹션 스타일링 */
.event-inner {
  width: 800px;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: white;
}
.section-wrap {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.event-details-btn {
  border: 1px solid white;
  padding: 10px 20px;
  background-color: transparent;
  cursor: pointer;
  & > a {
    color: white;
    font-size: 12px;
  }
}
